# [WARNING]: This file contains the packages requirements for the proposed method.
# [WARNING]: The installation must be performed on an empty envirionment with an installation of Python==3.8.16
numpy==1.24.3
pandas==1.4.2
matplotlib==3.7.1
torch==2.0.1
ipykernel==6.15.0
PyYAML==6.0
tqdm==4.65.0
ipykernel==6.15.0
